h1, h2, p {
    text-align: center;
}

body{
    background-image: url("./assets/beans.jpg");
    margin: 0;
    padding: 0;
}

.menu {
    background-color: burlywood;
    width: 80%;
    margin: 0% auto;
}

.item p {
    display: inline-block;
}

.flavor, .desserts {
    text-align: left;
    width: 75%;
}

.price {
    width: 25%;
    text-align: right;
}